{% load static %}
<html>
<head>
  <!-- Plotly.js -->
   <script src="{%static 'basic/plotly-latest.min.js'%}" 'unsafe-eval'/></script>
</head>

<body>
        <div id="firstDiv"><h2>NECO</h2>
                {{ stuff }}
        </div>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>

var trace2 = {
	x: {{ json_x|safe }},
	y: {{ json_y|safe }},
  mode: 'lines',
  type: 'scatter'
};

var data = [trace2];

var layout = {};

Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});
  </script>
{%for i in json_y %}
<p>{{i}}</p>

{%endfor%}
</body>
</html>

