<!DOCTYPE html>
<html>
<head>
	<title>TBApp</title>
		<meta name="description" content="Vsb- test bench visualization">
	<meta name="keywords" content="web ">
<p></p>
<h2 id="main-header"><img src="images/logoFei.jpg" alt="My Sample Image" width="52"  style="float: left;" /><strong>&nbsp;VSB Test Bench</strong></h1>
	</header>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.body {
	margin:0;
	width: 100%;
}
.icon-bar {
  width: 100%;
  background-color: black;
  overflow: auto;
}
.icon-bar a {
  float: left;
  width: 15%;
  text-align: center;
  padding: 2px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
}
.icon-bar a:hover {
  background-color: #4CAF50;
}
.active {
  background-color: gray;
}

</style>
<body>
<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a> 
  <a href="#"><i class="fa fa-search"></i></a> 
  <a href="#"><i class="fa fa-globe"></i></a> 
  <a href="#"><i class="fa fa-globe"></i></a>
  <a href="#"><i class="fa fa-globe"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a> 
</div>

</body>
<body style="background-color:#1d1d1e;" text="white">
				<section>
		<article margin: 25px class="post">
			<h3>Description: </h3>
			<p>  &nbsp; &nbsp; &nbsp;  This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench.
			   This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench. This is a sample application, the information about the test bench will be Placed here. the following figure will be replaced with actual diagram of the test bench.
			</p>
			<p>sample Diagram:</p>
</article>
		<article class="post">
	<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
		<a>
			<img src="images/images.PNG"alt="My Sample Image" style="width:50%;">
<br>
			<a href="info.html">Read More</a>
<br>
<!--<p style="text-align: center;">Select a Device:<strong>&nbsp;</strong><select name="list_box_name" size="number_of_options">-->
<!--<option value="option1">Option 1</option>-->
<!--<option value="option2">Option2</option>-->
<!--<option value="Option3">Option3</option>-->
<!--</select></p>-->
<!--<p style="text-align: center;">Select values(use Ctr key for multiple Selection).</p>-->
<!--<p style="text-align: center;"><select name="list_box_name[]" size="number_of_options" multiple="multiple">-->
<!--<option value="option1">Option1</option>-->
<!--<option value="option2">Option2</option>-->
<!--<option value="Option3">Option3</option>-->
<!--</select></p>-->
<p style="text-align: center;"><label for="interval">Interval:</label></p>
<p style="text-align: center;"><label for="interval">Start</label> <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00" /> <label for="interval">End</label> <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00" /></p>

<p>status:<p>
<html>
<head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
 <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>

var trace2 = {
	x: {{ json_x|safe }},
	y: {{ json_y|safe }},
  mode: 'lines',
  type: 'scatter'
};

var data = [trace2];

var layout = {};

Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});
  </script>
</body>
</html>
	<P> Figure1: Vibration, temperature, output power of the generator <p> 
<br>


<P> Figure2: Vibration, temperature, output power of the Motor <p> 
	<aside>
		<h3>links</h3>
		<nav>
			<ul>
				<li><a href="#">link1 1</a></li>
				<li><a href="#">link2 2</a></li>
			</ul>
		</nav>
	</aside>
	<footer id="main-footer">
		<p>Copyright &copy; 2019, VSB</p>
	</footer>
</body>
</html>