{% extends 'basic/base.html' %}

{% block content %}
<div class="dashboard">

<div class="plotObject">
<div class="input">
{% include 'basic/input.html' %}
</div>
<div class="plot">
{% block linePlot %}
{% include 'basic/plots/line.html' %}
{% endblock linePlot %}
</div>
</div>

<div class="plotObject">
<div class="input">
{% include 'basic/input.html' %}

</div>
<div class="plot">
{% block heatPlot %}
{% include 'basic/plots/heat.html' %}
{% endblock heatPlot %}
</div>
</div>

<div class="plotObject">
<div class="input">
{% include 'basic/input.html' %}
</div>
<div class="plot">
{% block deepPlot %}
{% include 'basic/plots/deep.html' %}
{% endblock deepPlot %}
</div>
</div>

</div>
{% endblock content %}
